@import "variables.scss";

.main {
  border: 1px solid white;
  border-radius: 24px;
  background-color: white;
}
.fa-star {
  display: flex;
  align-items: center;
}
.userAuthorization{display: flex; justify-content: center; margin: 1%; font-size: 25px; font-weight: 900;}
/* Slider
___________________________________________*/
.image-slider {
  margin: 15px 0;
  &__wrapper{
    padding: 0 0 20px 0;
  }

  &__image{
    & img{
      max-width: 100%;
      border-radius: 20px;
    }
  }
  .image-slider__button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
      font-size: 30px;
      color: #000;
    }
    &:hover::after{
      color: $pinkWB;
    }
  }

  #slider_next::after{
    margin-left: 5px;
  }
  #slider_prev::after{
    margin-right: 5px;
  }
  #slider_pagination{
    bottom: 0;
    .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
      background: $pinkWB;
      margin: 0 11px;
      &-active-prev, &-active-next{
        opacity: 0.6;
        &-prev, &-next{
          opacity: 0.4;
        }
      }
    }
  }
}



/* Cards
___________________________________________*/
.s-cards {
  display: flex;
//   @include flexCenter;
  flex-direction: column;
  align-items: center;
  &__item-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 260px));
    max-height: 930px;
    overflow: hidden;
    gap: 20px 30px;
    transition: max-height 0.5s;
    &__item {
      width: 100%;
      height: 460px;
      display: flex;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      padding: 0;
      &-img {
        width: 100%;
        height: 60%;
        margin-bottom: 1%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        margin-bottom: 10px;
      }
      &__wrapper-text {
        width: 100%;
        text-align: start;
        position: relative;
        margin-bottom: 10px;
        font-size: 14px;
        font-family: $cardsFont;
        &__price {
            font-size: 25px;
            font-weight: 700;
            cursor: pointer;
            &:hover {
                color: $pinkWB;
            }
        }
        &__delivery-time {
          text-align: start;
          margin-bottom: 10px;
          font-weight: 700;
        }
        &__name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__icon-wrapper {
          display: flex;
          margin: 5px auto;
          font-size: 14px;

          &:hover>i {
            color: yellow;
          }
        }
        &::after{
          content: "";
          width: 30%;
          max-width: 70px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: auto;
          background: linear-gradient(270deg,#fff 0,hsla(0,0%,100%,0));
          // z-index: 1;
        }
      }
      &__btn {
        color: white;
        background-color: $pinkWB;
        width: 92px;
        height: 32px;
        padding: 0;
        &:hover {
          color: $pinkWB;
          background-color: white;
        }
        &.__inCart {
          color: $pinkWB;
          background: lightgray;
          border: none;
        }
      }
    }

    &__active {
        max-height: calc(($cardsLength * 400px) + 50px);
    }
  }

  &__btn {
    width: 25%;
    color: $pinkWB;
    font-weight: 600;
    margin: 50px 0;
    &-show_more {
      margin-right: 10px;
    }
    &__icon-wrapper {
      display: flex;
      @include flexCenter;
      color: $pinkWB;
      &__svg {
        width: 15px;
        height: 15px;
        fill: $pinkWB;
      }
    }
  }
  &__wrapper-empty{
    font-size: 25px;
    color: $pinkWB;
    font-weight: 700;
    &__button{
      border-bottom: 1px dashed $pinkWB;
      cursor: pointer;
    }
  } 
}

.hit {
  width: 100%;
  display: flex;
  @include flexCenter;
  font-weight: 600;
  font-size: 35px;
  color: $pinkWB;
}

.userAuthorization{@extend .hit;}

/* Aside
___________________________________________*/

.aside {
    width: 35%;
    height: 100vh;
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    top: 110px;
    left: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all 0.6s ease-in-out;
    padding: 20px 0;

    &__content {
        width: 100%;
    }

    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        cursor: pointer;
        &:hover {
            background-color: rgba(211, 211, 211, 0.3);
            transition: all 0.3s ease-in-out;
        }
    }
    &__active {
        visibility: visible;
        transform: translateX(0);
    }

    &__link {
        text-decoration: none;
        color: #000;
    }
}
