@import "variables.scss";

/*! Media
/*!_________________________________________________________________*/
@media (max-width: 1450px) {
 .s-cards__item-wrapper {
  grid-template-columns: repeat(4, 1fr);
 }
}
@media (max-width: 1250px) {
  .s-header__logo-text-wrapper {
    display: none;
  }
  .s-header__nav-item-wrapper{
    width: 20%;
  }
  .aside {
    width: 40%;
  }
  .slider_btn_text {
    font-size: 30px;
  }
  .s-cards__btn {
    height: 45px;
  }
  #slider_prev {
    display: none;
  }
  #slider_next {
    display: none;
  }
  .hit {
    font-size: 25px;
  }
}
@media (max-width: 875px) {
  .s-cards__item-wrapper {
    grid-template-columns: repeat(3, 1fr);
   }
  .s-header__form {
    margin: 0 15px 0 15px;
  }
  .modal-user, .modal_cart{
    width: 80%;
  }
}
@media (max-width: 700px) {
  .s-header__form{
    width: 85%;
  }
  .aside {
    width: 100%;
  }
  .s-cards{
    padding: 0 0 20px 0;
    &__item-wrapper {
      grid-template-columns: repeat(2, 1fr);
        &__item__btn {
          width: 100%;
        }
     }
     &__btn {
      width: 60%;
    }
    &__item-wrapper__item__wrapper-text {
      text-align: center;
      &__delivery-time {
        text-align: center;
      }
      &__icon-wrapper {
        justify-content: center;
      }
    }
  } 
  .s-footer,
  .footer {
    display: none;
  }
  .main {
    border-radius: 24px 24px 0 0;
  }
  .s-header__nav-item-wrapper {
    display: none;
  }
  .footer-adapt {
    display: flex;
    background: linear-gradient(90deg, $pinkWB, #481173);
    width: 100vw;
    max-height: 51px;
    position: fixed;
    bottom: -1px;
    &__wrap {
      display: flex;
      @include flexCenter;
      margin: 10px;
      &__item {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 33.3%;
       color: $adaptFooterAc;   
        &:hover {
          color: $adaptFooterHover;
        }


        .fa-solid {
          font-size: 25px;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 475px) {
  .s-slider{
    display: none;
  }
  .s-cards__item-wrapper {
    grid-template-columns:  1fr;
   }
  .s-header {
    flex-wrap: nowrap;
  }
  .modal-user, .modal_cart{
    width: 100%;
  }
}
