/* Center
___________________________________________*/

@mixin flexCenter {
  align-items: center;
  justify-content: center;
}
@mixin blockCenter {
  margin: 0% auto;
}
@mixin modalCenter {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Color
___________________________________________*/

$pinkWB: rgb(203, 17, 171);
$modalText: black;
$cardsText: black;
$headerHoverAc: rgba(255, 255, 255, 0.6);
$headerHover: rgba(255, 255, 255, 0.3);

$adaptFooterHover: rgba(255, 255, 255, 0.8);
$adaptFooterAc: rgba(255, 255, 255, 0.4);

$headerText: rgba(255, 255, 255, 1);
@mixin headerText {
  color: $headerText;
}

$footrText: rgba(255, 255, 255, 1);
@mixin footrText {
  color: $footrText;
}
$cardsLength: 20;

/* Size
___________________________________________*/
$SizeSvgRate1450: 17px;

@mixin heightSvgInp {
  height: 50px;
}
@mixin widthFrom {
  width: 55%;
}
@mixin widthInp {
  width: 95%;
}

@mixin svgSizeBurger {
  width: 35px;
  height: 35px;
}

/* Modal
___________________________________________*/
@mixin modalWindow {
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* Font Size
___________________________________________*/
@mixin FontsCart {
  font-size: 17px;
  font-weight: 600;
}
